<ion-list >
	<ion-item>
		<ion-icon name="alert" slot="start"></ion-icon>
		<ion-label>Notification</ion-label>
	</ion-item>
	<ion-item>
		<ion-icon name="alert" slot="start"></ion-icon>
		<ion-label>Notification</ion-label>
	</ion-item>
	<ion-item>
		<ion-icon name="alert" slot="start"></ion-icon>
		<ion-label>Notification</ion-label>
	</ion-item>
	<ion-item>
		<ion-icon name="alert" slot="start"></ion-icon>
		<ion-label>Notification</ion-label>
	</ion-item>
	<ion-item>
		<ion-icon name="alert" slot="start"></ion-icon>
		<ion-label>Notification</ion-label>
	</ion-item>
	<ion-item>
		<ion-icon name="alert" slot="start"></ion-icon>
		<ion-label>Notification</ion-label>
	</ion-item>

</ion-list>