<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Chat
    </ion-title>
    <ion-icon slot="end" name="more" size="large"></ion-icon>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search messages, contacts, etc."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="profile-list9">
        <ion-item (click)="newmessage()">
          <ion-icon slot="start" name="chatboxes" size="large"></ion-icon>
          <ion-label>
            Contact
          </ion-label>
          <ion-note slot="end">Lorem ipsum dolor sit amet</ion-note>
          
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="chatboxes" size="large"></ion-icon>
          <ion-label>
            Contact
          </ion-label>
          <ion-note slot="end">Lorem ipsum dolor sit amet</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="chatboxes" size="large"></ion-icon>
          <ion-label>
            Contact
          </ion-label>
          <ion-note slot="end">Lorem ipsum dolor sit amet</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="chatboxes" size="large"></ion-icon>
          <ion-label>
            Contact
          </ion-label>
          <ion-note slot="end">Lorem ipsum dolor sit amet</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="chatboxes" size="large"></ion-icon>
          <ion-label>
            Contact
          </ion-label>
          <ion-note slot="end">Lorem ipsum dolor sit amet</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="chatboxes" size="large"></ion-icon>
          <ion-label>
            Contact
          </ion-label>
          <ion-note slot="end">Lorem ipsum dolor sit amet</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="chatboxes" size="large"></ion-icon>
          <ion-label>
            Contact
          </ion-label>
          <ion-note slot="end">Lorem ipsum dolor sit amet</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="chatboxes" size="large"></ion-icon>
          <ion-label>
            Contact
          </ion-label>
          <ion-note slot="end">Lorem ipsum dolor sit amet</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="chatboxes" size="large"></ion-icon>
          <ion-label>
            Contact
          </ion-label>
          <ion-note slot="end">Lorem ipsum dolor sit amet</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="chatboxes" size="large"></ion-icon>
          <ion-label>
            Contact
          </ion-label>
          <ion-note slot="end">Lorem ipsum dolor sit amet</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="chatboxes" size="large"></ion-icon>
          <ion-label>
            Contact
          </ion-label>
          <ion-note slot="end">Lorem ipsum dolor sit amet</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="chatboxes" size="large"></ion-icon>
          <ion-label>
            Contact
          </ion-label>
          <ion-note slot="end">Lorem ipsum dolor sit amet</ion-note>
        </ion-item>
    </ion-list>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newmessagepage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
