.myCanvas {
      display: block;
      border: 1px solid #000;
      position: fixed;

      height: 90%;
    width: 100%;
    display: block;
    background-image: url('/assets/corps.jpg')   ;
    background-size:cover;
    }

    

