<ion-header>
  <ion-toolbar>
    <ion-title>
      Newsfeed
    </ion-title>
    <ion-button size ="small" shape="round" slot="end" fill="clear" color="dark" (click)="openChat()">
    <ion-icon  name="chatbubbles" size="large"></ion-icon>
    <ion-badge>2</ion-badge>
    </ion-button>
    <ion-button size ="small" shape="round" slot="end" fill="clear" color="dark" (click)="presentPopover()">
    <ion-icon  name="notifications" size="large"></ion-icon>
    <ion-badge>24</ion-badge>
  </ion-button>
  </ion-toolbar>
</ion-header>


  


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
     <ion-card>
      <ion-item>
    <ion-icon name="pulse" size="large" slot="start"></ion-icon>
    <ion-label>News</ion-label>
    <ion-note slot="end">20 minutes ago</ion-note>
    
    
  </ion-item>

      <ion-card-content>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.     </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-item>
    <ion-icon name="medkit" size="large" slot="start"></ion-icon>
    <ion-label>News</ion-label>
    <ion-note slot="end">46 minutes ago</ion-note>
  </ion-item>

      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </ion-card-content>
  </ion-card>

<ion-card>
      <ion-item>
    <ion-icon name="medical" size="large" slot="start"></ion-icon>
    <ion-label>News</ion-label>
    <ion-note slot="end">2 hours ago</ion-note>
  </ion-item>

      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </ion-card-content>
  </ion-card>

<ion-card>
      <ion-item>
    <ion-icon name="pulse" size="large" slot="start"></ion-icon>
    <ion-label>News</ion-label>
    <ion-note slot="end">yesterday</ion-note>
  </ion-item>

      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </ion-card-content>
  </ion-card>

<ion-card>
      <ion-item>
    <ion-icon name="clipboard" size="large" slot="start"></ion-icon>
    <ion-label>News</ion-label>
    <ion-note slot="end">last week</ion-note>
  </ion-item>

      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </ion-card-content>
  </ion-card>

<ion-card>
      <ion-item>
    <ion-icon name="medical" size="large" slot="start"></ion-icon>
    <ion-label>News</ion-label>
    <ion-note slot="end">2 weeks ago</ion-note>
  </ion-item>

      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </ion-card-content>
  </ion-card>
</ion-content>
