<ion-header>
  <ion-toolbar>

  	
    <ion-title>Patients</ion-title>
    <ion-button size ="small" shape="round" slot="end" fill="clear" color="dark" (click)="openChat()">
    <ion-icon  name="chatbubbles" size="large"></ion-icon>
    <ion-badge>2</ion-badge>
    </ion-button>
    <ion-button size ="small" shape="round" slot="end" fill="clear" color="dark" (click)="presentPopover()">
    <ion-icon  name="notifications" size="large"></ion-icon>
    <ion-badge>24</ion-badge>
  </ion-button>
  </ion-toolbar>
  <ion-toolbar>
  	<ion-searchbar animated placeholder="Patient name, room, etc."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
	
	<ion-card>
  		<ion-item>
    <ion-icon name="bed" size="large" slot="start"></ion-icon>
    <ion-label>Patient</ion-label>
    <ion-button fill="outline" (click)="openPatient()" slot="end">View</ion-button>
  </ion-item>

  		<ion-card-content>
            		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        	dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  		</ion-card-content>
	</ion-card>

	<ion-card>
  		<ion-item>
    <ion-icon name="bed" size="large" slot="start"></ion-icon>
    <ion-label>Patient</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  		<ion-card-content>
    		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        	dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  		</ion-card-content>
	</ion-card>

<ion-card>
  		<ion-item>
    <ion-icon name="bed" size="large" slot="start"></ion-icon>
    <ion-label>Patient</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  		<ion-card-content>
    		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        	dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  		</ion-card-content>
	</ion-card>

<ion-card>
  		<ion-item>
    <ion-icon name="bed" size="large" slot="start"></ion-icon>
    <ion-label>Patient</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  		<ion-card-content>
    		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        	dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  		</ion-card-content>
	</ion-card>

<ion-card>
  		<ion-item>
    <ion-icon name="bed" size="large" slot="start"></ion-icon>
    <ion-label>Patient</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  		<ion-card-content>
    		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        	dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  		</ion-card-content>
	</ion-card>

<ion-card>
  		<ion-item>
    <ion-icon name="bed" size="large" slot="start"></ion-icon>
    <ion-label>Patient</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  		<ion-card-content>
    		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        	dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  		</ion-card-content>
	</ion-card>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openNewform()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
